html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  border: 0;
  margin: 0;
  background: #25263d;
  color: #c44242;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

a, a:visited, a:active {
  color: #c44242;
  text-decoration: none;
  border-bottom: 1px dashed #de2121;
}

a:hover {
  color: #f9f9f9;
  text-decoration: none;
  border-bottom: 1px solid #d49a9a;
}

.page {
  padding: 1rem;
  margin: auto;
  max-width: 800px;
}

body {
  font-size: 5.5vmin;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

/*
  Header: 
*/

header {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c44242;
}

header table {
  margin-left: 2rem;
  border: none;
}

header table td {
  padding-bottom: 0.5rem;
}

header table td:first-child {
  width: 4rem;
}

/*
  Sections: 
*/

section {
  display: flex;
  flex-flow: column;
  padding: 0 1rem 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c44242;
}

.juttu {
  display: flex;
  flex-flow: row wrap;
}

.media {
  width: 304px;
  background: red;
  margin: 0 1rem 1rem 0;
}

iframe {
  width: 304px;
  height: 171px;
}
